$primary-color: #f2b642;
$secondary-color: #0857a3;

.containerServicePage {
  section {
    padding: 54px 0 68px;
  }
  
  .imgHeader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .title {
      position: absolute;
      color: white;
      padding: 10px;
      text-align: center;
    }
  }
}

.founder {
  background-image: url("../../assets/image/bg-2.png");
}
