.customModal {
  width: 65vw; /* Occupy the 90% of the screen width */
  max-width: 87vw;
  .bodyModal {
    margin: 0;
    padding: 0;
    .topBodyModal {
      background-image: url("../../assets/image/background.png");
      background-size: cover; /* This will make the image cover the entire element */
      background-repeat: no-repeat; /* This will prevent the image from repeating */
      background-position: center;
      padding: 20px 50px 20px 50px;
      .info {
        display: flex;
        align-items: center;
        .imgTeacher {
          border-radius: 50%;
          width: 100px;
          height: 100px;
          margin-right: 30px;
        }
        .infoTeacher {
          .name {
            color: #fff;

          }
          .posistion {
            font-weight: 600;
            color: #fff;
            text-transform: capitalize;
          }
        }
      }
      .quote {
        margin-top: 30px;
        font-weight: 600;
            color: #fff;
            text-transform: capitalize;
      }
    }
    .mainBodyModal {
      background-color: #fff;
      padding: 20px 50px;
      display: flex;
      margin: 0;
      // align-items: center;
      .li-css{
        margin: 10px 0px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .icon{
          color:  #6495ed;
        }
        .content{
          margin-left: 10px;
        }
      }
      .leftMainBodyModal {
        .box {
          width: 90%;
          .title {
            color: #6495ed;
          }
          .workExperience {
          }
        }
      }
      .rightMainBodyModal {
        .box {
          width: 90%;
          .title {
            color: #6495ed;
          }
          .Education {
           
          }
        }
      }
    }
  }
}

/* Mobile */
@media (max-width: 767px) {
  .customModal {
    width: 90%;
    margin: 12px auto;
  }
  .customModal {
    .bodyModal {
      .topBodyModal {
        padding: 20px 12px;
        .info {
          flex-direction: column;
          justify-content: center;
          text-align: center;
          .imgTeacher {
            margin: 0 0 8px;
          }
        }
        .quote {
          margin-top: 12px;
        }
      }
      .mainBodyModal {
        padding: 20px 8px;
      }
    }
  }
}
